@font-face {
  font-family: 'myFirstFont';
    src: url('fonts/BlueGobletSerifW01-Regular.woff') format('woff');
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button {
    background-color: transparent;
    background: url("mint.png") no-repeat;
    position: relative;
    left: 800px;
    top: 300px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    
}

.container_connection {
  border: none;
  position: fixed;
  top: 530px;
  right: 223px;
  width: 300px;
}

.container_text {
    border: none;
    position: fixed;
    top: 650px;
    right: 120px;
}

.container_title{
    border: none;
    position: fixed;
    top: 110px;
    left: 93px;
    width: 825px;
}

.container_goblin{
    border: none;
    position: fixed;
    bottom: 0px;
    left: 93px;
}

.container_form{
    background-color: transparent;
    border: none;
    position: fixed;
    top: 295px;
    right: 1px;
    font-size: 60px;
    font-family: 'myFirstFont';
    line-height: .8;
    color: #6F9C94;
    outline: none
}

.btn_bg_transparent{
  background: transparent;
  border: none;
}

.container_mint {
  border: none;
  position: fixed;
  top: 420px;
  right: 220px;
  width: 300px;
  background: transparent;
}

.btn_mint{
  background: transparent;
  border: none;

}

.btn_connect{
  background: transparent;
  border: none;
}

.container_selector{
  border: none;
  position: fixed;
  top: 255px;
  right: 223px;
  width: 300px;
  background: transparent;
}

textarea{
  border: none;  
  background: transparent;
  position: fixed;
  top: 290px;
  right: 250px;
  width: 240px;
  height: 70px;
  text-align: center;
  font-size: 50px;
  font-family: 'myFirstFont';
  color: #6F9C94;
  outline: none;
}

.mint_amount{
  position: fixed;
  top: 1000px;
  right: 180px;
}

p{
  text-align: center;
  font-size: 50px;
  font-family: 'myFirstFont';
  color: #ffffff;
  background-color: transparent;
}

